{% extends 'main_page/base.html' %}
{% load static %}


{% block title %} Our cars {% endblock %}

{% block welcome %} <h1 class="w3-center w3-text-yellow" style="text-shadow: 1px 1px 0 #444"> Welcome to our catalog! </h1>

<h4 class="w3-center w3-text-green" style="text-shadow: 1px 1px 0 #444"> Here you can find all cars we have </h4>

{% endblock %}


<div class=" w3-row w3-mobile">
{% block content %}
{% for c in page.object_list %}
    <div class="w3-col w3-padding-32 w3-border w3-mobile" style=" width: 50%; height: 600px;" >
            <div class=" w3-center w3-mobile">
                <p class="w3-wide">{{ c.name }}</p>
                <p class="w3-wide">{{ c.model }}</p>
        <!--        <p>{{ c.vin }}</p>-->
                <p class="w3-wide">{{ c.year }}</p>
                <p class="w3-wide">{{ c.price_currency }} {{ c.price }}</p>
            </div>
            <div class="w3-center w3-mobile">
                <img src="{{ c.header_image.url }}" alt="" style="width: 400px; height: 300px"
                     class="w3-hover-shadow">
            </div>
            <div class="w3-display-container w3-center w3-padding-64 w3-mobile">
                <button class="w3-round-xlarge w3-btn w3-padding w3-blue w3-display-right w3-margin-right" style="width:20%;"
                         onclick="location.href='{% url 'purchase' %}'">Info</button>
                <button class="w3-round-xlarge w3-btn w3-padding w3-green w3-center w3-display-left w3-margin-left" style="width:20%;"
                         onclick="location.href='{% url 'purchase' %}'">Buy</button>
            </div>
    </div>
{% endfor %}

</div>

<div class="w3-container w3-border w3-padding-16" style="width:100%;">
<br>
    {% if page.has_previous %}
    <a id='previous_button' class="w3-border w3-btn w3-left w3-padding-16" style="text-decoration: none;" href="{% url 'catalog' %}?page={{ page.previous_page_number }}">Previous Page</a>
    {% endif %}
    {% if page.has_next %}
    <a id='next_button' class="w3-border w3-btn w3-right w3-padding-16" style="text-decoration: none;" href="{% url 'catalog' %}?page={{ page.next_page_number }}">Next Page</a>
    {% endif %}
</div>
<div class="w3-container w3-padding-64"></div>


{% endblock %}