{% extends 'main_page/base.html' %}
{% load static %}

{% block title %} Purchase car {% endblock %}

{% block content %}

<h2 class="w3-wide w3-center"> Ho, ho, ho someone made a decision to purchase THE NEW CAR :)  </h2>
<p class="w3-wide w3-center"> Excellent, you just need to fill in the blanks and click the bottom.</p>

<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<h3 id="form-title">Purchase a car</h3>
				</div>
				<div class="d-flex justify-content-center form_container">

					<form method="POST" action="">
                        {% csrf_token %}
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							{{form.name}}
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
							</div>
							{{form.surname}}
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
                            {{form.email}}
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							{{form.phone_cell}}
						</div>
                        <div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							{{form.chosen_car}}
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
<!--class Client(models.Model):-->
<!--    name = models.CharField(max_length=50)-->
<!--    surname = models.CharField(max_length=40)-->
<!--    email = models.EmailField(max_length=40, null=True)-->
<!--    phone_cell = models.IntegerField(unique=True)-->
<!--    chosen_car = models.ForeignKey(Car, on_delete=models.CASCADE)-->


{% endblock %}